<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- PostgreSQL Connection -->
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/musicAppDB
        </property>

        <property name="hibernate.connection.username">
            postgres
        </property>

        <property name="hibernate.connection.password">
            admin
        </property>


        <!-- Hibernate Settings -->
        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>


        <!-- Code First -->
        <property name="hibernate.hbm2ddl.auto">
            update
        </property>


        <!-- Entities -->
<!--        <mapping class="com.daniyal.shop.entity.User"/>-->
<!--        <mapping class="com.daniyal.shop.entity.Product"/>-->

    </session-factory>

</hibernate-configuration>